# SPDX-License-Identifier: CC0-1.0
#
# SPDX-FileType: SOURCE
#
# SPDX-FileCopyrightText: 2024 Johannes Krauser III <krauser@co.xyz>, Zodomo <zodomo@proton.me>
# 
# SPDX-FileContributor: Zodomo <zodomo@proton.me>

ETHEREUM_RPC_URL=""
SEPOLIA_RPC_URL=""
ETHERSCAN_API_KEY=""
PRIVATE_KEY=