# SPDX-License-Identifier: CC0-1.0
#
# SPDX-FileType: SOURCE
#
# SPDX-FileCopyrightText: 2024 Johannes Krauser III <krauser@co.xyz>, Zodomo <zodomo@proton.me>
# 
# SPDX-FileContributor: Zodomo <zodomo@proton.me>

# Compiler files
cache/
out/

# Ignores development broadcast logs
broadcast/

# Docs
docs/

# Dotenv file
.env

# Node modules
node_modules/

gas-cost.txt
contract-size.txt